<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      Registro de producto
    </div>
    <div class="card-body">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class=" row col-12">
          <div class=" col-4 form-group">
            <label for="codigo">Código:</label>
            <input type="text" class="form-control" id="codigo" name="codigo"
                   [(ngModel)]="codigo" required>
          </div>
          <div class=" col-4 form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre"
                   [(ngModel)]="nombre" required>
          </div>
          <div class=" col-4 form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio"
                   [(ngModel)]="precio" required>
          </div>
        </div>
        <div class="row col-12">
          <div class="col-4 mt-4 btn-group">
            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
              <i class="fas fa-plus-circle"></i> Crear
            </button>
            <button class="btn btn-outline-primary btn-block" routerLink="/lista">
              <i class="fas fa-arrow-alt-circle-left"></i> Volver
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

